<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-tabs/vaadin-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="predict-day.html">
<link rel="import" href="predict-now.html">


<dom-module id="bn-app">
  <template>
    <style include="granite-bootstrap"></style>
    <style>
      :host {
        display: block;
      }

      .header {
        width: 100%;
        background-color: #5bbeff;
        margin-bottom: 2em;
        text-align: center;
        padding: 0.5em 0;
      }
    </style>
    <h1 class="header">Brooklyn Nets - {{title}}</h1>

    <vaadin-tabs selected="{{page}}">
      <vaadin-tab>Prediction by date</vaadin-tab>
      <vaadin-tab>Prediction Now</vaadin-tab>
    </vaadin-tabs>
    <iron-pages selected="[[page]]">
      <page>
          <predict-day></predict-day></page>
      <page>
          <predict-now></predict-now></page>
    </iron-pages>

    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BnApp extends Polymer.Element {
      static get is() { return 'bn-app'; }
      static get properties() {
        return {
          'title': {
            type: String,
            value: "Call Center Prediction Machine"
          }, 
          'page':{
            type: String
          }
        }
      }
    }

    window.customElements.define(BnApp.is, BnApp);
  </script>
</dom-module>