<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">

<dom-module id="bn-table">
  <template>
    <style include="granite-bootstrap"></style>
    <style>
      :host {
        display: block;
      }
      table {
        margin-top: 3em;
        text-align: center
      }
    </style>
    <template is="dom-if" if="{{!hidden}}">
      <table class="table  table-hover">
        <tr>
          <th>Period</th>
          <th>Calls (#)</th>
          <th>Avg Call Time (s)</th>
          <th>Avg Conv. (s)</th>
          <th>Avg Wait (s)</th>
          <th>Premium</th>
        </tr>
        <template is="dom-repeat" items="{{data}}" as="row">
          <tr>
            <td>[[row.period]]</td>
            <td>[[row.calls]]</td>
            <td>{{row.avg_time}}</td>
            <td>{{row.avg_time_conversation}}</td>
            <td>{{row.avg_time_wait}}</td>
            <td>{{row.premium}}</td>
          </tr>
        </template>
      </table>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BnTable extends Polymer.Element {
      static get is() { return 'bn-table'; }
      static get properties() {
        return {
          header: {
            type: Array,
            value: function() {
              return['calls','avg_time'] 
            }
          },
          data: {
            type: Array,
          }, 
          hidden: {
            type: Boolean,
            value: true
          }
        };
      }

      setData(data) {
        this.set('data', data);
      }
    }

    window.customElements.define(BnTable.is, BnTable);
  </script>
</dom-module>