<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../bower_components/cells-calendar/cells-calendar.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="bn-table.html">


<dom-module id="predict-day">
  <template is="dom-bind">
    <style include="granite-bootstrap"></style>
    <style>
      :host {
        display: block;
      }

      .header {
        width: 100%;
        background-color: #5bbeff;
        margin-bottom: 2em;
        text-align: center;
        padding: 0.5em 0;
      }

      .container {
        margin: 0 auto;
        width: 70%;
      }

      chart-line {
        width: 100%;

      }
    </style>


    <div class="container">
      <div class="container" style="text-align: center; padding-bottom: 3em;">
        <p> Selecciona el día a consultar:</p>
        <cells-calendar id="calendar" prev-icon="coronita:back" next-icon="coronita:forward" combo-icon="coronita:unfold">
        </cells-calendar>
      </div>
      <div id="chartContainer">
        <chart-line id="chart" class="rectangular-chart"></chart-line>
      </div>
      <bn-table id="table"></bn-table>

      <iron-ajax id="ajax" method="GET" url="[[api_endpoint]]/predict_day" content-type="application/json" handle-as="json" on-response="_handleResponse"
        on-error="_handleError" bubbles>
      </iron-ajax>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PredictDay extends Polymer.Element {
      static get is() { return 'predict-day'; }
      static get properties() {
        return {
          api_endpoint: {
            type: String,
            value: "http://localhost:7000"
          },
          data: {
            type: Object
          }
        };
      }

      _onDaySelected(event) {
        const date = new Date(event.detail);
        const dateStr = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
        this.$.ajax.params = {
          'date': dateStr
        }
        this.$.ajax.generateRequest();
        console.log(dateStr);
        //this._handleResponse();

      }

      _handleResponse(event) {
        var response = event.detail.response;

        /** asignamos los datos a los dos datasets del componente gráfica */
        this.data.datasets[1].data = response.calls;
        this.data.datasets[0].data = response.avg_time;
        //this.data.datasets[0].label="label: "+(new Date()).getMilliseconds();

        this.$.chart.data = this.data;

        this.$.chart._queue();


        /** creamos array de dos dimensiones para pintar la tabla de resultados*/
        var mergedData = response.calls.map((value, index) => {

          return {
            'period': `${String(index).padStart(2, '0')} - ${String(index + 1).padStart(2, '0')}`,
            'calls': value,
            'avg_time': response.avg_time[index],
            'avg_time_conversation': response.avg_time_conversation[index],
            'avg_time_wait': response.avg_time_wait[index],
            'premium': response.premium[index]
          };
        });
        this.$.table.data = mergedData;
        this.$.table.hidden = false;

      }

      ready() {
        super.ready();
        this.data = {
          labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
          datasets: [
          
            {
              label: "Tiempo medio de llamadas",
              
              backgroundColor: "rgba(220,220,220,0.2)",
              borderColor: "rgba(220,220,220,1)",
              borderWidth: 1,
              pointBackgroundColor: "rgba(220,220,220,1)",
              pointBorderColor: "#fff",
              pointHoverBackgroundColor: "#fff",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              
            },
            {
              label: "Número de llamadas",
              backgroundColor: "rgba(151,187,205,0.2)",
              borderColor: "rgba(151,187,205,1)",
              borderWidth: 1,
              pointBackgroundColor: "rgba(151,187,205,1)",
              pointBorderColor: "#fff",
              pointHighlightFill: "#fff",
              pointHoverBorderColor: "rgba(151,187,205,1)",
            }
          ]
        };

        this.$.calendar.addEventListener('day-selected', this._onDaySelected.bind(this));
      }
    }

    window.customElements.define(PredictDay.is, PredictDay);
  </script>
</dom-module>