<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../bower_components/cells-calendar/cells-calendar.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="bn-table.html">


<dom-module id="predict-now">
  <template is="dom-bind">
    <style include="granite-bootstrap"></style>
    <style>
      :host {
        display: block;
      }

      .container {
        margin: 0 auto;
        width: 70%;
        margin-top: 3em;
      }
    </style>

    <div class="container">
      <p><b>Date:</b> [[_dateStr]]</p>
      <br>
      <p><b>Time Slot: </b>[[_timeSlot]]</p>
      <br>
      <p><b>Average Waiting Time: </b>[[_waitingTime]] seconds</p>

      <iron-ajax id="ajax" method="GET" url="[[api_endpoint]]/predict_waiting_time" content-type="application/json" handle-as="json" on-response="_handleResponse"
        on-error="_handleError" bubbles>
      </iron-ajax>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PredictNow extends Polymer.Element {
      static get is() { return 'predict-now'; }
      static get properties() {
        return {
          api_endpoint: {
            type: String,
            value: "http://localhost:7000"
          },
          _dateStr: {
            type: String
          },
          _timeSlot: {
            type: String
          },
          _waitingTime: {
            type: String
          },
          _hour: {
            type: Number
          }
        };
      }

      _handleResponse(event) {
        var response = event.detail.response;
        this._waitingTime  = response.avg_time_wait[this._hour];
      }

      ready() {
        super.ready();
        this.setTime();
        this.$.ajax.generateRequest();
      }

      setTime() {
        const date = new Date();
        const dateStr = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
        const hourStart = String(date.getHours());
        const hourEnd = String(date.getHours() - 1);
        this._hour = date.getHours();
        const params = {
          'date': dateStr,
        }
        this.$.ajax.params = params;
        this._dateStr = dateStr;
        this._timeSlot = `${hourStart}-${hourEnd}`;
      }
    }

    window.customElements.define(PredictNow.is, PredictNow);
  </script>
</dom-module>